.hero {
  margin-bottom: 50px;
}

.hero__container {
  display: flex;
  flex-direction: column;
}

.hero__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: var(--color-primary-black);
  margin-top: 0;
  margin-bottom: 28px;
  text-align: center;
}

.hero__title-green {
  color: var(--color-primary-green);
}

.hero__title-red {
  color: var(--color-primary-red);
}

.hero__description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: var(--color-text-sub);
  margin-top: 0;
  margin-bottom: 45px;
  text-align: center;
}

.hero__partners {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.hero__partner {
}

.hero__partner + .hero__partner {
  margin-left: 15px;
}

.hero__partner-link {
  margin-left: 11px;
}

.hero__content {
  width: 100%;
  margin-bottom: 45px;
}

.hero__actions {
  display: flex;
  justify-content: center;
}

.hero__tabs {
}

@media screen and (min-width: 768px) {
  .hero__description {
    margin-bottom: 90px;
  }

  .hero__partners {
    flex-wrap: nowrap;
  }

  .hero__title {
    font-size: 49px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    margin-bottom: 150px;
  }

  .hero__content {
    margin-bottom: 0;
  }

  .hero__container {
    align-items: center;
  }

  .hero__title {
    text-align: left;
  }

  .hero__partners {
    justify-content: flex-start;
  }

  .hero__description {
    text-align: left;
  }

  .hero__container {
    flex-direction: row;
  }

  .hero__content {
    margin-right: 97px;
  }

  .hero {
    margin-bottom: 150px;
  }
}
