.link {
  padding: 6px;
}

.link__chip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9.8px 9px;
  background: var(--color-chip-bg);
  border-radius: 7px;
}

.link__accent {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: var(--color-primary-blue);
  text-decoration: none;
  transition: var(--transition);
}

.link__accent:hover {
  color: var(--color-primary-black);
}
