.table-header__item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.table-header__item-title {
  max-width: 80px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--color-text-dark);
}

.table-header__item img {
  margin-top: 2px;
  margin-left: 2px;
}
