.slider {
  width: 300px;
  height: calc(520px - 75px);
  display: flex;
  justify-content: center;
}

.slider__container {
  padding-top: 125px;
  width: 100%;
  height: calc(520px - 220px);
  position: relative;
}

.slide {
  width: 100%;
  position: absolute;
  transition: var(--transition);
}

.slider__control:hover::before {
  opacity: 0.3;
}

.slider__control::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-color: var(--color-primary-blue);
  z-index: 1;
  border-radius: 100%;
  transition: var(--transition);
  opacity: 0;
}

.slider__control {
  cursor: pointer;
  position: absolute;
  z-index: 25;
  left: 50%;
  transform: translate(-50%);
  background-color: transparent;
  box-shadow: none;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__control img {
  position: relative;
  z-index: 2;
}

.slider__prev {
  top: 60px;
}

.slider__next {
  bottom: 30px;
}

.slide.prev {
  transform: translate(0, -125px) scale(0.832);
}

.slide.next {
  transform: translate(0, 125px) scale(0.832);
}

.slide img {
  width: 100%;
}

.slide.active {
  z-index: 10;
  transform: translate(0, 0) scale(1);
}

.slide:not(.active) {
  filter: blur(4px);
}

@media screen and (min-width: 768px) {
  .slider {
    width: 466px;
    height: calc(520px - 125px);
  }

  .slider__container {
    height: 400px;
  }
}
